<div>
    <div *ngIf="graph == 'graph_1'">
        <!-- <h1 class="title_212">
            This is Graph 1 component
        </h1> -->
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div *ngIf="graph == 'graph_2'">
        <h1 class="title_212">
            This is Graph 2 component
        </h1>
    </div>

    <div *ngIf="graph == 'graph_3'">
        <h1 class="title_212">
            This is Graph 3 component
        </h1>
    </div>

    <div *ngIf="graph == 'graph_4'">
        <h1 class="title_212">
            This is Graph 4 component
        </h1>
    </div>

    <div *ngIf="graph == 'graph_5'">
        <h1 class="title_212">
            This is Graph 5 component
        </h1>
    </div>

    <div *ngIf="graph == 'graph_6'">
        <h1 class="title_212">
            This is Graph 6 component
        </h1>
    </div>
</div>
